In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'E:\Python\Python\Data\Clean_Data.csv')

df = df.set_index('Author')

Top 5 chú thích Title được dùng nhiều nhất

In [3]:
df['Title'].str.split(':').str[0].value_counts().head(5)

Title
doc      394
test     367
deps     295
tools    246
src      238
Name: count, dtype: int64

Top 5 Title có độ dài lớn nhất :

In [4]:
df['Title'].str.split(' ').str.len().sort_values(ascending=False).head(5)

Author
tmm88         16
ggoodman      16
debadree25    15
pulkit-30     15
aleksejaku    15
Name: Title, dtype: int64

Top 5 pull repuests có nhiều Additions nhất

In [5]:
df['Additions'].sort_values(ascending=False).head(5)

Author
fishel-feng      12536046
gaurishhs        12530505
imcotton         12523339
rafasofizada     12502330
shrujalshah28    12420911
Name: Additions, dtype: int64

Top 5 pull repuests có nhiều Commits nhất

In [6]:
df['Commits'].sort_values(ascending=False).head(5)

Author
rluvaton       3660
mohd096        3271
npm-cli-bot    2694
mhdawson       2625
luyahan        1553
Name: Commits, dtype: int64

Top 5 pull repuests có nhiều Comments nhất

In [7]:
df['Comments'].sort_values(ascending=False).head(5)

Author
jsumners        187
UlisesGascon    117
ShogunPanda      82
UlisesGascon     80
khaosdoctor      76
Name: Comments, dtype: int64

Người có hoạt động sôi nổi nhất:

In [8]:
df.index.value_counts().head(5)

Author
nodejs-github-bot    311
aduh95               180
anonrig              156
joyeecheung          148
tniessen             121
Name: count, dtype: int64

Người có nhiều Additions nhất

In [9]:
group_Author = df.groupby('Author')
group_Author['Additions'].sum().sort_values(ascending=False).head(5)

Author
fishel-feng      12536047
gaurishhs        12530506
imcotton         12523361
rafasofizada     12502332
shrujalshah28    12420920
Name: Additions, dtype: int64

Người có nhiều Commits nhất

In [10]:
group_Author['Commits'].sum().sort_values(ascending=False).head(5)

Author
rluvaton       4092
mohd096        3271
npm-cli-bot    2831
mhdawson       2768
targos         1750
Name: Commits, dtype: int64

Người có nhiều Comments nhất

In [11]:
group_Author['Comments'].sum().sort_values(ascending=False).head(5)

Author
anonrig              1627
joyeecheung          1422
nodejs-github-bot    1345
aduh95                964
targos                866
Name: Comments, dtype: int64

Các trạng thái của pull repuests :

Cập nhật(Updated at)

In [12]:
df['Updated At'] = pd.to_datetime(df['Updated At'])

df_up = df.set_index('Updated At').resample('D').size().sort_values(ascending= False)

df_up

Updated At
2024-05-12 00:00:00+00:00    149
2023-11-23 00:00:00+00:00     68
2023-08-28 00:00:00+00:00     40
2023-09-11 00:00:00+00:00     35
2023-11-12 00:00:00+00:00     31
                            ...
2024-03-03 00:00:00+00:00      0
2024-03-02 00:00:00+00:00      0
2024-02-25 00:00:00+00:00      0
2024-02-24 00:00:00+00:00      0
2024-02-09 00:00:00+00:00      0
Length: 526, dtype: int64

In [13]:
df['Status'].value_counts()

Status
Merged    2027
Closed    1067
Open       158
Name: count, dtype: int64

Top 5 tác giả có pull requests được Merged

In [14]:
df[df['Status'] == 'Merged'].groupby('Author').size().sort_values(ascending=False).head(5)

Author
nodejs-github-bot    192
aduh95               156
tniessen             117
anonrig               92
joyeecheung           85
dtype: int64

Top 5  pull requests được Merged nhanh nhất :

In [15]:
df['Created At'] = pd.to_datetime(df['Created At'])
df_mer = df[df['Merged At'] != '0']
df_mer['Merged At'] = pd.to_datetime(df_mer['Merged At'])
df_mer['Time Diffrence'] = df_mer['Merged At'] - df_mer['Created At']
df_mer.sort_values(by = 'Time Diffrence').head(5)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3604\1062959844.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mer['Merged At'] = pd.to_datetime(df_mer['Merged At'])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_3604\1062959844.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mer['Time Diffrence'] = df_mer['Merged At'] - df_mer['Created At']

,Title,Created At,Updated At,Additions,Commits,Status,Comments,Merged At,Time Diffrence
Author,,,,,,,,,
H4ad,doc: fix H4ad collaborator sort,2023-10-17 19:23:39+00:00,2023-10-17 19:32:23+00:00,2,1,Merged,2,2023-10-17 19:31:49+00:00,0 days 00:08:10
Trott,doc: move BethGriggs to regular member,2023-04-28 22:36:45+00:00,2023-04-28 23:37:49+00:00,2,1,Merged,3,2023-04-28 22:45:34+00:00,0 days 00:08:49
rluvaton,doc: add rluvaton to collaborators,2023-08-17 14:32:45+00:00,2023-08-17 14:46:09+00:00,2,1,Merged,4,2023-08-17 14:45:49+00:00,0 days 00:13:04
atlowChemi,doc: add atlowChemi to collaborators,2023-07-13 12:52:46+00:00,2023-07-13 13:08:46+00:00,2,1,Merged,4,2023-07-13 13:08:35+00:00,0 days 00:15:49
cjihrig,doc: add MoLow to the TSC,2023-04-05 21:22:26+00:00,2023-04-05 21:38:53+00:00,2,1,Merged,3,2023-04-05 21:38:46+00:00,0 days 00:16:20

Thời gian trung bình một pull requests được Merged

In [16]:
df_mer['Time Diffrence'].describe()

count                          2027
mean     10 days 21:34:08.148495313
std      31 days 06:19:54.786182235
min                 0 days 00:08:10
25%          2 days 00:07:07.500000
50%                 2 days 17:33:49
75%                 7 days 10:06:30
max               450 days 20:08:42
Name: Time Diffrence, dtype: object

Số lượng các pull requests được tạo theo ngày, tuần, tháng, năm:

Theo ngày :

In [17]:
df = df.reset_index()
df_newindex = df.set_index('Created At')
df_newindex.resample('D').size().sort_values(ascending=False)

Created At
2023-08-28 00:00:00+00:00    44
2023-09-22 00:00:00+00:00    36
2023-09-23 00:00:00+00:00    33
2023-11-07 00:00:00+00:00    29
2023-08-13 00:00:00+00:00    28
                             ..
2023-12-08 00:00:00+00:00     1
2023-06-23 00:00:00+00:00     1
2023-12-09 00:00:00+00:00     1
2023-04-25 00:00:00+00:00     1
2023-01-21 00:00:00+00:00     0
Length: 365, dtype: int64

Theo tuần :

In [18]:
df_newindex.resample('W').size().sort_values(ascending=False)

Created At
2023-09-24 00:00:00+00:00    119
2023-10-01 00:00:00+00:00    104
2023-10-22 00:00:00+00:00     88
2023-09-03 00:00:00+00:00     87
2023-11-12 00:00:00+00:00     85
2023-10-29 00:00:00+00:00     84
2023-11-19 00:00:00+00:00     83
2023-02-12 00:00:00+00:00     80
2023-02-26 00:00:00+00:00     79
2023-09-10 00:00:00+00:00     78
2023-04-02 00:00:00+00:00     73
2023-02-19 00:00:00+00:00     73
2023-08-13 00:00:00+00:00     73
2023-04-09 00:00:00+00:00     71
2023-08-20 00:00:00+00:00     71
2023-05-21 00:00:00+00:00     70
2023-12-03 00:00:00+00:00     68
2023-04-16 00:00:00+00:00     68
2023-05-28 00:00:00+00:00     68
2023-05-07 00:00:00+00:00     66
2023-03-05 00:00:00+00:00     65
2023-02-05 00:00:00+00:00     65
2023-04-30 00:00:00+00:00     64
2023-01-08 00:00:00+00:00     63
2023-10-15 00:00:00+00:00     63
2023-01-29 00:00:00+00:00     62
2023-05-14 00:00:00+00:00     62
2023-04-23 00:00:00+00:00     61
2023-09-17 00:00:00+00:00     59
2023-03-12 00:00:00+00:00     57
2023-03-19 00:00:00+00:00     56
2023-06-04 00:00:00+00:00     56
2023-03-26 00:00:00+00:00     56
2023-11-05 00:00:00+00:00     56
2023-10-08 00:00:00+00:00     54
2023-11-26 00:00:00+00:00     54
2023-12-24 00:00:00+00:00     52
2023-07-02 00:00:00+00:00     51
2023-08-06 00:00:00+00:00     49
2023-07-23 00:00:00+00:00     48
2023-07-16 00:00:00+00:00     48
2023-01-15 00:00:00+00:00     48
2023-06-11 00:00:00+00:00     48
2023-01-22 00:00:00+00:00     47
2023-07-30 00:00:00+00:00     46
2023-12-17 00:00:00+00:00     45
2023-07-09 00:00:00+00:00     44
2023-12-10 00:00:00+00:00     42
2023-08-27 00:00:00+00:00     42
2023-06-25 00:00:00+00:00     36
2023-12-31 00:00:00+00:00     28
2023-06-18 00:00:00+00:00     28
2023-01-01 00:00:00+00:00      9
dtype: int64

Theo tháng :

In [19]:
df_newindex.resample('M').size().sort_values(ascending=False)

Created At
2023-09-30 00:00:00+00:00    367
2023-10-31 00:00:00+00:00    323
2023-11-30 00:00:00+00:00    303
2023-08-31 00:00:00+00:00    293
2023-02-28 00:00:00+00:00    289
2023-05-31 00:00:00+00:00    289
2023-04-30 00:00:00+00:00    283
2023-03-31 00:00:00+00:00    269
2023-01-31 00:00:00+00:00    256
2023-07-31 00:00:00+00:00    202
2023-12-31 00:00:00+00:00    196
2023-06-30 00:00:00+00:00    182
dtype: int64

Theo năm:

In [20]:
len(df_newindex.index)

3252

Tổng Addtions từ các pull requests được tạo trong năm 2023

In [21]:
df['Additions'].sum()

92336552

Tổng Commits từ các pull requests được tạo trong năm 2023

In [22]:
df['Commits'].sum()

26881

Tổng Comments từ các pull requests được tạo trong năm 2023

In [23]:
df['Comments'].sum()

23986